DB_HOST=servdrill.opendata.center
DB_PORT=1433
DB_DATABASE=Servdrill
DB_USER=rm
DB_PASSWORD=rm
DB_ENCRYPT=false
DB_TRUST_CERT=true
SERVER_PORT=3001
VITE_API_BASE_URL=http://localhost:3001

AUTH_DB_HOST=89.116.214.65
AUTH_DB_PORT=5432
AUTH_DB_DATABASE=atenza
AUTH_DB_SCHEMA=equilibrio_ti
AUTH_DB_USER=root
AUTH_DB_PASSWORD=
AUTH_ADMIN_EMAIL=admin@equilibrioti.com.br
AUTH_ADMIN_PASSWORD=
JWT_SECRET=change-this-secret
